.col-4 {
    height: 300px;
    font-size: 185px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}

.col-4:hover {
    background-color: grey;
}

#case1 {
    border-bottom: 5px dashed #faf5f5;
    border-right: 5px dashed #faf5f5;
}

#case2 {
    border-bottom: 5px dashed #faf5f5;
    border-right: 5px dashed #faf5f5;
    border-left: 5px dashed #faf5f5;
}

#case3 {
    border-bottom: 5px dashed #faf5f5;
    border-left: 5px dashed #faf5f5;
}

#case4{
    border-bottom: 5px dashed #faf5f5;
    border-right: 5px dashed #faf5f5;
    border-top: 5px dashed #faf5f5;
}

#case5{
    border: 5px dashed #faf5f5;;
}

#case6{
    border-bottom: 5px dashed #faf5f5;
    border-left: 5px dashed #faf5f5;
    border-top: 5px dashed #faf5f5;
}

#case7{
    border-right: 5px dashed #faf5f5;
    border-top: 5px dashed #faf5f5;
}

#case8{
    border-top: 5px dashed #faf5f5;
    border-left: 5px dashed #faf5f5;
    border-right: 5px dashed #faf5f5;
}

#case9{
    border-left: 5px dashed #faf5f5;
    border-top: 5px dashed #faf5f5;
}

body {
    background-color: rgb(19, 21, 105);
}

.x::before{
    content: "X";
    color: #faf5f5
}

.o::before{
    content: "O";
    color: crimson
}
h1 {
    color: #faf5f5;
    text-shadow: 1px 1px rgb(160, 17, 17);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
span{
    display: block;
    color: rgb(16, 8, 90);
    background-color: #faf5f5;
    text-align: center;
    
  }